<h4>Post Review</h4>
<form action="/halls/postreview" method="post">
  <div class="mb-3">
    <label>Full Name</label><br>
    <input type="text" name="userName">
  </div>
  <div class="mb-3">
    <label>Email</label><br>
    <input type="email" name="userEmail">
  </div>
  <div class="mb-3">
    <label>Email</label><br>
    <textarea name="reviewContent"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" name="reviewImage">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>