<div class="row border border-light-subtle rounded-2 mb-3 ms-1 me-1 p-1">
    <div class="row">
      <a href='/halls/{{review.hallId}}'>
        <b>@{{review.hallName.replace(" ", "").lower()}}</b>
      </a> 
      <div>
        Posted by <i>User123</i> {{review.timePosted}} ago 
      </div> 
      <div>
        <b>Rating:</b> {{review.reviewRating}}
      </div>        
      <h4 style='margin-top:2px'>
        {{review.reviewTitle}}
      </h4>
      <p>
        {{review.reviewContent}}
      </p>
    </div>
    <div>
      <button type="button" class="btn btn-outline-primary btn-sm">18 Likes</button>
      <button type="button" class="btn btn-outline-primary btn-sm">46 Comments</button>
    </div>
</div>